body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.noScroll {
    overflow: hidden;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.intro {
    justify-content: start;
    flex-direction: column;
}

.colorCard {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px;
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease;
    box-shadow: 0 8px 24px #00000029;
    border-radius: 12px;
}

.colorCard > div {
    text-transform: capitalize;
    padding: 0 15px;
    border-radius: 0 0 12px 12px;
}

.colorCard:hover {
    transform: scale(1.2);
}

.lightbox {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lightboxBg {
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    left: 0;
    top: 0;
    position: fixed;
}

.lightboxCard {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: auto;
    width: 80%;
    max-width: 400px;
    border-radius: 12px;
    z-index: 100;
    transition: transform 0.3s ease;
    transform: translateY(50px);
}

.loaded {
    opacity: 1;
    transform: translateY(0px);
}

.lbName {
    margin: 0 0 5px;
    text-transform: capitalize;
}

.lbYear {
    margin: 0 0 20px;
    text-transform: capitalize;
}

.lbPantone {
    margin: 0;
    text-transform: capitalize;
}

.lbHex {
    margin: 0;
}

label {
    font-size: small;
    opacity: 65%;

}

.lightboxInfo > div {
    padding: 20px 25px;
}

.lightboxInfo > hr {
    margin: 0;
}

.tooltip {

    position: relative;
    display: inline-block;
    cursor: copy;
}

.tooltipMsg {
    visibility: hidden;
    background-color: #282323;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 8px;
    font-size: small;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: scale(0.7);

    /* Position the tooltip */
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 25px -50px 0;
    z-index: 1;
}


.tooltip:hover .tooltipMsg {
    visibility: visible;
    opacity: 1;
    transform: scale(1.2);
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unsplashCredit, .unsplashCredit a {
    color: #fff
}

.divImg label {
    position: absolute;
    top: -24px;
    right: 29px;
}

.responsiveImg {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px 12px 0 0;
}